<app-navbar [currentSection]="currentSection" [currentSubsection]="currentSubsection"></app-navbar>
<main class="container-fluid main-content">

    <div class="text-center no-data center-vertically" *ngIf="!isCourse && !showLoaderCourse">
        <p><i class="fa-solid fa-2xl fa-book"></i></p>
        <p>No hay ningún curso aún</p>
    </div>
    <div class="center-vertically center-horizontally" *ngIf="showLoaderCourse">
        <app-loader></app-loader>
    </div>
    
    <div class="row justify-content-center" *ngIf="isCourse && !showLoaderCourse">

        <section class="col-12 col-md-4 col-xl-2 mb-5 mb-md-0">
            <div class="sticky-top mx-4 mx-md-0 mb-0">

            <div class="pt-1 d-flex justify-content-between">
                <h3><b>Filtrar</b></h3>
                <button type="button" class="col-2 btn button-actions-red" [disabled]="!occupation && !quarter && !titleChosen && !turn && !emailTeacherChosen" 
                (click)="cleanFilter(formSearchSubject)" placement="bottom" ngbTooltip="Limpiar filtro"><i class="fa-solid fa-trash"></i></button>
            </div>

            <form #formSearchSubject="ngForm" ngNativeValidate (ngSubmit)="searchSubjects()">
                <div class="border-top py-2 my-2 ml-3">
                    <label for="searchOccupation" class="section-title">Ocupación</label>

                    <div id="searchOccupation">
                        <div class="form-check">
                            <input class="form-check-input radio-filter" type="radio" name="occupation" value="Libre" [(ngModel)]="occupation" id="option-libre">
                            <label class="form-check-label label-filter" for="option-libre">Libre</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input radio-filter" type="radio" name="occupation" value="Completa" [(ngModel)]="occupation" id="option-completa">
                            <label class="form-check-label label-filter" for="option-completa">Completa</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input radio-filter" type="radio" name="occupation" value="Conflicto" [(ngModel)]="occupation" id="option-conflict">
                            <label class="form-check-label label-filter" for="option-conflict">Conflicto</label>
                        </div>

                    </div>
                </div>

                <div class="border-top py-2 my-2 ml-3">
                    <label for="searchQuarter" class="section-title">Cuatrimestre</label>

                    <div id="searchQuarter">
                        <div class="form-check">
                            <input class="form-check-input radio-filter" type="radio" name="quarter" value="Primer Cuatrimestre" [(ngModel)]="quarter" id="option-first">
                            <label class="form-check-label label-filter" for="option-first">Primer Cuatrimestre</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input radio-filter" type="radio" name="quarter" value="Segundo Cuatrimestre" [(ngModel)]="quarter" id="option-second">
                            <label class="form-check-label label-filter" for="option-second">Segundo Cuatrimestre</label>
                        </div>

                    </div>
                </div>

                <div class="border-top py-2 my-2 ml-3">
                    <div class="form-group">
                        <label for="inputTitle" class="form-label section-title">Titulación</label>
                            <input type="text" class="form-control" list="titleList" id="inputTitle" placeholder="Titulación" pattern="[^\]\[&lt;&gt;&quot;';!=]*" #title="ngModel"
                            name="title" [(ngModel)]="titleChosen" [ngClass]="!title.valid && title.touched ? 'border-error' : ''">
                            <span class="error-message-txt m-0" role="alert" *ngIf="title.errors?.['pattern']">Los siguientes caracteres no están permitidos: []&lt;&gt;'";!=</span>
                        <datalist id="titleList">
                        <option *ngFor="let itemTitle of titles" [ngValue]="itemTitle">{{itemTitle}}</option>
                        </datalist>
                    </div>
                </div>

                <div class="border-top py-2 my-2 ml-3">
                    <label for="searchTurn" class="section-title">Turno</label>

                    <div id="searchTurn">
                        <div class="form-check">
                            <input class="form-check-input radio-filter" type="radio" name="turn" value="M" [(ngModel)]="turn" id="option-morning-filter">
                            <label class="form-check-label label-filter" for="option-morning-filter">Mañana</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input radio-filter" type="radio" name="turn" value="T" [(ngModel)]="turn" id="option-afternoon-filter">
                            <label class="form-check-label label-filter" for="option-afternoon-filter">Tarde</label>
                        </div>

                    </div>
                </div>

                <div class="border-top py-2 my-2 ml-3">
                    <label for="inputTeacher" class="form-label section-title">Docente</label>
                        <input type="email" class="form-control" list="teacherList" id="inputTeacher" placeholder="Docente" email #idTeacher="ngModel"
                        name="idTeacher" [(ngModel)]="emailTeacherChosen" [ngClass]="!idTeacher.valid && idTeacher.touched ? 'border-error' : ''">
                    <datalist id="teacherList">
                        <option *ngFor="let item of teachers" [value]="item.email">{{item.name}}</option>
                    </datalist>
                </div>

                <div class="d-flex justify-content-center pt-3">
                    <button type="submit" class="btn mx-auto btn-global tema-urjc-rojo" [disabled]="title.errors?.['pattern']" >Filtrar</button>
                </div>

            </form>
            </div>
        </section>

        <div class="col-md-1 mx-3 p-0 d-none d-md-block" style="width: 1px;">
            <div class="vr min-vh-75 h-100"></div>
        </div>

        <section class="col-12 col-md-7 col-xl-7">
            <div class="row">

            <div class="col-12 d-flex justify-content-between">
                <span *ngIf="!subjectsTeachersStatus" class="my-auto">Mostrando 0 resultados</span>
                <span *ngIf="subjectsTeachersStatus" class="my-auto">Mostrando {{subjectsTeachersStatus.length}} resultados</span>
                <div>
                    <span class="my-auto me-2"><small>Ordenar por</small></span>
                    <select class="form-select-sm text-muted select-sort my-auto" [(ngModel)]="typeSort" (change)="searchSubjects()">
                        <option *ngFor="let item of valuesSorting" [ngValue]="item.value">{{item.name}}</option>
                    </select>
                    <button id="createPOD" (click)="exportCSV()" class="ms-2 btn button-actions-red my-auto" placement="bottom" ngbTooltip="Descargar pod actual"><i class="fa fa-file-csv fa-lg"></i></button>
                </div>
            </div>

            <div class="col-12 content-all-cards">
                <div class="row row-cols-1 row-cols-xl-2 g-4" *ngIf="!showLoader">

                    <div class="col" *ngFor="let subjectTeacher of subjectsTeachersStatus">
                        <div [ngClass]="{'card-subject-green' : 0 == subjectTeacher.leftHours, 'card-subject-light-red': 0 > subjectTeacher.leftHours, 'card-subject-blue' : subjectTeacher.leftHours > 0}" class="card h-100 w-100 shadow">
                            <div class="card-body cards-content">
                            <ul class="list-group list-group-flush font-card">
                                <li class="list-group-item detalles1">
                                <div>
                                    <h4 class="card-title"><b>{{subjectTeacher.subject.name}} ({{subjectTeacher.subject.code}})</b></h4>
                                    <h6 class="card-subtitle mb-2 text-muted">{{subjectTeacher.subject.title}}
                                        <small *ngIf="0 == subjectTeacher.leftHours" class="truncate label-subject-occupation-green">Completa</small>
                                        <small *ngIf="0 > subjectTeacher.leftHours" class="truncate label-subject-occupation-light-red">Colisión docente</small>
                                        <small *ngIf="subjectTeacher.leftHours > 0" class="truncate label-subject-occupation-blue">Libre</small> 
                                    </h6>
                                    <small><i class="fa fa-clock fa-sm"></i>{{subjectTeacher.subject.totalHours}}h <i class="fa fa-map-marker-alt fa-sm"></i>{{subjectTeacher.subject.campus}}</small>
                                    <p class="card-text" *ngIf="subjectTeacher.subject.turn == 'T'"><small class="text-muted">Curso {{subjectTeacher.subject.year}} | {{subjectTeacher.subject.quarter}} | {{subjectTeacher.subject.type}} | Turno Tarde</small></p>
                                    <p class="card-text" *ngIf="subjectTeacher.subject.turn == 'M'"><small class="text-muted">Curso {{subjectTeacher.subject.year}} | {{subjectTeacher.subject.quarter}} | {{subjectTeacher.subject.type}} | Turno Mañana</small></p>
                                    <p class="label-subject-groups" *ngIf="subjectTeacher.subject.career"><small><b>GRUPO</b></small><span class="badge">{{subjectTeacher.subject.career}}</span></p>
                                    <p class="label-subject-groups"><small><b>GRUPOS ASISTENCIA</b></small>
                                        <span  class="badge" *ngIf="subjectTeacher.subject.assistanceCareers.length == 0">No hay grupos de asistencia</span>
                                        <span class="badge" *ngFor="let career of subjectTeacher.subject.assistanceCareers">{{career}}</span>
                                    </p>
                                </div>
                                </li>
                                <li class="list-group-item detalles2" *ngIf="subjectTeacher.joinedTeachers">
                                    <p class="card-text">
                                        <span *ngFor="let teacher of subjectTeacher.joinedTeachers"><small class="text-muted"><b>{{teacher}}</b></small><br></span>
                                    </p>
                                </li>

                                <li class="list-group-item detalles2" *ngIf="!subjectTeacher.joinedTeachers || subjectTeacher.joinedTeachers.length == 0">
                                    <p class="card-text">
                                        <span><small class="text-muted">No hay docentes asignados</small><br></span>
                                    </p>
                                </li>

                                <li class="list-group-item detalles3">
                                    <p class="card-text"><i class="fa fa-calendar fa-sm"></i>
                                        <span class="text-muted" *ngIf="subjectTeacher.subject.schedules.length == 0"><small class="truncate">No hay horarios</small></span>
                                        <span class="text-muted" *ngFor="let schedule of subjectTeacher.subject.schedules"><small class="truncate"><b> {{schedule.dayWeek}}</b> - ({{schedule.startTime}} a {{schedule.endTime}})</small></span>
                                    </p>
                                </li>
                            </ul>
                            </div>
                            <div class="card-footer text-muted">
                                <button type="button" (click)="openRecord(record, subjectTeacher)" [ngClass]="{'button-green' : 0 == subjectTeacher.leftHours, 'button-light-red': 0 > subjectTeacher.leftHours, 'button-blue' : subjectTeacher.leftHours > 0}"
                                    class="btn" tooltipClass="custom-tooltip-class" placement="bottom" ngbTooltip="Ver"><i class="fa fa-eye fa-lg"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row center-vertically center-horizontally" *ngIf="showLoader">
                    <div class="col-2 center-horizontally">
                    <app-loader></app-loader>
                    </div>
                </div>
                <div class="text-center no-data center-vertically" *ngIf="subjectsTeachersStatus && subjectsTeachersStatus.length == 0 && !showLoader">
                    <p><i class="fa-solid fa-2xl fa-magnifying-glass"></i></p>
                    <p>No hay resultados</p>
                </div>
            </div>
            </div>
        </section>
    
    </div>
</main>
<app-scroll-up></app-scroll-up>

<ng-template #record let-offcanvas>
    <div class="offcanvas-header">
      <h4 class="offcanvas-title">Historial</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss()"></button>
    </div>
    <div class="offcanvas-body">
      <p><b>{{subjectToShow.subject.name}}</b></p>
      <ul class="list-group list-group-flush" *ngIf="(records | json) != '{}'">
        <li class="list-group-item" *ngFor="let item of records | keyvalue: asIsOrder">
            <div class="col-12 d-flex justify-content-start">
                <div class="row">
                    <div class="col-4">
                        <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x light-blue"></i>
                        <i class="fa fa-2xs fa-graduation-cap fa-stack-1x blue"></i>
                        </span>
                    </div>
                    <div class="col-8">
                        <span class="course-history blue">{{item.key}}</span><br>
                        <div *ngFor="let teacherName of getValues(item.value)">
                            <span class="teacher-history truncate">{{teacherName}}</span><br>
                        </div>
                    </div>
                </div>
            </div>
        </li>
      </ul>
      <p *ngIf="(records | json) == '{}'" class="text-muted text-center">No se encuentra en ningún curso</p>
      <div class="d-flex justify-content-center pt-3">
        <button class="btn mx-auto btn-global tema-urjc-azul" (click)="offcanvas.dismiss()">Cerrar</button>
        </div>
    </div>
  </ng-template>
