<app-navbar></app-navbar>
<main class="container-fluid contenido-todo">
<div class="row g-4 justify-content-center contenido-principal">

    <div class="col-md-6 col-xl-3">
    <div class="card card-estadisticas color-card-estadisticas-azul p-2 h-100 w-100 shadow">
        <div class="card-body">
        <i class="fa fa-calendar-check fa-2x iconos-estadisticas-azul"></i> 
        <h1 class="card-title"><b>{{globalStatistics[0]}}%</b></h1>
        <p class="card-text"><b>Carga Docente</b></p>
        <p class="card-text texto-fraccion"><b>{{globalStatistics[1]}}/{{globalStatistics[2]}}</b></p>
        </div>
    </div>
    </div>

    <div class="col-md-6 col-xl-3">
    <div class="card card-estadisticas color-card-estadisticas-gris p-2 h-100 w-100 shadow">
        <div class="card-body">
        <i class="fa fa-calendar fa-2x gris iconos-estadisticas-gris"></i> 
        <h1 class="card-title"><b>{{globalStatistics[3]}}%</b></h1>
        <p class="card-text"><b>Fuerza Docente</b></p>
        <p class="card-text texto-fraccion"><b>{{globalStatistics[1]}}/{{globalStatistics[4]}}</b></p>
        </div>
    </div>
    </div>

    <div class="col-md-6 col-xl-3">
    <div class="card card-estadisticas color-card-estadisticas-azul p-2 h-100 w-100 shadow">
        <div class="card-body">
        <i class="fa fa-book-open fa-2x iconos-estadisticas-azul"></i> 
        <h1 class="card-title"><b>{{globalStatistics[5]}}%</b></h1>
        <p class="card-text"><b>Asignaturas</b></p>
        <p class="card-text texto-fraccion"><b>{{globalStatistics[6]}}/{{globalStatistics[7]}}</b></p>
        </div>
    </div>
    </div>

    <div class="col-md-6 col-xl-3">
    <div class="card card-estadisticas color-card-estadisticas-gris p-2 h-100 w-100 shadow">
        <div class="card-body">
        <i class="fa fa-times fa-2x iconos-estadisticas-gris"></i> 
        <h1 class="card-title"><b>{{globalStatistics[8]}}</b></h1>
        <p class="card-text"><b>Colisiones Docentes</b></p>
        </div>
    </div>
    </div>

</div>

<div class="bloque-despues-estadisticas row justify-content-center g-4">

    <div class="col-12 col-xl-8 d-flex justify-content-between">
        <span *ngIf="!teachersStatistics">Mostrando 0 resultados</span>
        <span *ngIf="teachersStatistics">Mostrando {{teachersStatistics.length}} resultados</span>
        <div>
            <span><small>Ordenar por </small></span>
            <select class="form-select-sm text-muted desplegable-buscador" [(ngModel)]="typeSort" (change)="getFirstTeachers()">
                <option *ngFor="let item of valuesSorting" [ngValue]="item.value">{{item.name}}</option>
            </select>
        </div>
    </div>

    <div class="col-12 col-md-6 col-xl-8 contenido-asignaturas-docentes" *ngFor="let teacherStatistics of teachersStatistics">
    <div class="card cards-estadisticas shadow h-100 w-100">
        <div class="card-body">
        <div class="row justify-content-around">
            <h4 ><b>{{teacherStatistics[0]}}</b></h4>
            
            <h6><span class="gris-muy-claro truncar" title="fuerza original"><i class="fa fa-user fa-sm azul"></i><small>{{teacherStatistics[1]}} horas</small></span>
                <span class="gris-muy-claro truncar" title="fuerza corregida"><i class="fa fa-user-edit fa-sm azul"></i><small>{{teacherStatistics[2]}} horas</small></span>
                <span class="gris-muy-claro truncar" title="asignaturas asignadas"><i class="fa fa-book-open fa-sm azul"></i><small>{{teacherStatistics[6]}} asignatura(s)</small></span></h6>
            

            <div class="row justify-content-start">
                <div class="col-12 col-xl-12">
                <div class="d-flex justify-content-between">
                    <span><small>Horas asignadas</small></span>
                    <h5><b>{{teacherStatistics[4]}}%</b></h5>
                </div>
                <div class="col-12">
                    <div class="progress" style="height: 8px;">
                    <div class="progress-bar" role="progressbar" [style.width]="teacherStatistics[4] +'%'" style="height: 100%;" aria-valuenow="teacherStatistics[4]" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-1">
                    <small class="color-libre"><b>{{teacherStatistics[5]}} horas</b></small>
                </div>
                </div>
            </div>

            <hr class="mt-2">
            <h5 class="titulo-seccion">OBSERVACIONES</h5>
            <p class="observaciones">
                <small *ngIf="teacherStatistics[3] != ''">{{teacherStatistics[3]}}</small>
                <small *ngIf="teacherStatistics[3] == ''">No hay observaciones</small>
            </p>

        </div>
        </div>
    </div>
    </div>

</div>
</main>
<app-scroll-up></app-scroll-up>
