<app-navbar></app-navbar>
  <main class="container-fluid contenido-todo">
    <div class="text-center no-data center-vertically" *ngIf="!isCourse && !showLoader">
      <p><i class="fa-solid fa-2xl fa-book"></i></p>
      <p>No hay ningún curso aún</p>
    </div>
    <div class="center-vertically center-horizontally" *ngIf="showLoader">
      <app-loader></app-loader>
    </div>

    <div class="row" *ngIf="isCourse && !showLoader">
      
      <div class="col">  

        <section class="col-12 col-md-10 offset-md-1 margen-top-contenido">
          <div class="row">

            <div class="col-12 d-flex justify-content-between">
              <span *ngIf="!teachers" class="my-auto">Mostrando 0 resultados</span>
              <span *ngIf="teachers" class="my-auto">Mostrando {{teachers.length}} resultados</span>
              <div>
                <span class="my-auto me-2"><small>Ordenar por</small></span>
                <select class="form-select-sm text-muted desplegable-buscador my-auto" [(ngModel)]="typeSort" (change)="getTeachersInPod()">
                  <option *ngFor="let item of valuesSorting" [ngValue]="item.value">{{item.name}}</option>
                </select>
                <button type="button" placement="bottom" ngbTooltip="Añadir asignatura" class="ms-2 btn boton my-auto" (click)="openCreateTeacher(modalCreateTeacher)"><i class="fa fa-plus fa-sm"></i></button>
              </div>
            </div>

            <ng-template #modalCreateTeacher let-modal>
              <div class="modal-dialog-centered modal-md" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form #createTeacher="ngForm" ngNativeValidate (ngSubmit)="onSubmit(createTeacher)" class="row g-3 mb-3 px-4 formNuevaEditarAsignatura">
                            <h5 class="modal-title" id="titleModal"><b>Añadir Nuevo Docente</b></h5>
                            
                            <fieldset>
                              <legend>Identificación</legend>
                              <div class="row">
                                <div class="form-group col-12">
                                      <input type="text" class="form-control" required pattern="[-a-zA-Z, Á-üÑñÇç]{0,80}" placeholder="Nombre" #name="ngModel" name="name" ngModel
                                      [ngClass]="!name.valid && name.touched ? 'border-error' : ''">
                                      <span class="error-message-txt m-0" role="alert" *ngIf="name.errors?.['pattern']">Los números y algunos caracteres especiales no están permitidos</span>
                                </div>
                                <div class="form-group col-12">
                                      <input type="email" class="form-control" required email aria-describedby="email" placeholder="Correo Electrónico" #email="ngModel" name="email" ngModel
                                      [ngClass]="!email.valid && email.touched ? 'border-error' : ''" maxlength="30">
                                      
                                </div>
                                <div class="form-group col-12">
                                  <input type="number" class="form-control" min="0" max="9999" required placeholder="Número de horas" #hours="ngModel" name="hours" ngModel>
                                  <span class="error-message-txt m-0" role="alert" *ngIf="hours.errors?.['max']">Máximo un valor de 9999</span>
                                  <span class="error-message-txt m-0" role="alert" *ngIf="hours.errors?.['min']">Mínimo un valor de 0</span>
                                </div>
                              </div>
                            </fieldset>
                            <span class="error-message-txt m-0 text-center" role="alert" *ngIf="error != ''">{{error}}</span>
                            <button type="submit" class="btn mx-auto boton-general tema-urjc-azul" [disabled]="email.errors?.['required'] || name.errors?.['required'] || hours.errors?.['required']">Añadir</button>
                        </form>
                      </div>
                  </div>
              </div>
            </ng-template>

            <ng-template #deleteTeacher let-modal>
              <div class="modal-dialog-centered" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="mb-3 px-4 centrar">
                          <img src="assets/images/img-borrar.png" width="90" height="90" class="mb-4" alt="imagen de advertencia borrado">
                          <h5 class="modal-title" id="titleModal3"><b>Eliminar a {{teacher.name}}</b><b id="teacherToDelete"></b></h5>
                          <a>¿Desea realmente eliminar al docente {{teacher.name}} del Plan Docente Actual?</a>
                        </div>
                        <div class="modal-footer">
                          <button (click)="modal.close(deleteTeacherInPod(teacher.id))" class="btn mx-auto boton-general tema-urjc-rojo">Eliminar</button>
                        </div>
                      </div>
                  </div>
              </div>
            </ng-template>

            <div class="col-12 contenido-asignaturas-docentes">
              <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-4" *ngIf="teachers && teachers.length != 0">
                
                <div class="col" *ngFor="let teacher of teachers">
                  <div class="card card-asignatura-libre h-100 w-100 shadow">
                      <div class="card-body contenido-cards">
                      <ul class="list-group list-group-flush carta-asignatura">
                          <li class="list-group-item detalles1">
                            <div>
                                <h4 class="card-title"><b>{{teacher.name}}</b></h4>
                                <h6 class="card-subtitle mb-2 text-muted">{{teacher.email}}</h6>
                            </div>
                          </li>
                      </ul>
                      </div>
                      <div class="card-footer text-muted">
                        <button type="button" (click)="openToDelete(deleteTeacher, teacher)" *ngIf="teacher.email != mainAdmin" placement="bottom" ngbTooltip="Borrar" class="btn boton-asignatura-libre">
                          <i class="fa fa-trash fa-lg"></i>
                        </button>
                        <button type="button" disabled (click)="openToDelete(deleteTeacher, teacher)" *ngIf="teacher.email == mainAdmin" placement="bottom" ngbTooltip="Borrar" class="btn boton-asignatura-libre">
                          <i class="fa fa-trash fa-lg"></i>
                        </button>
                      </div>
                  </div>
                </div>

              </div>
              <div class="row justify-content-center mt-5" *ngIf="showLoader">
                <div class="col-2 mt-5">
                  <app-loader></app-loader>
                </div>
              </div>
              <div class="text-center no-data center-vertically" *ngIf="teachers && teachers.length == 0 && !showLoader">
                <p><i class="fa-solid fa-2xl fa-user"></i></p>
                <p>No hay docentes aún</p>
              </div>
            </div>

          </div>
        </section>

      </div>

  </div>

  </main>
  <app-scroll-up></app-scroll-up>
