<app-navbar></app-navbar>
  <main class="container-fluid">
    <div class="row">
      
      <div class="col py-3">  

        <section class="col-12 col-md-10 offset-md-1 margen-top-contenido">
          <div class="row">

            <div class="col-12 d-flex justify-content-between">
              <span *ngIf="!teachers">Mostrando 0 resultados</span>
              <span *ngIf="teachers">Mostrando {{teachers.length}} resultados</span>
              <div>
                <button type="button" title="Añadir asignatura" class="btn boton" (click)="openCreateTeacher(modalCreateTeacher)"><i class="fa fa-plus fa-sm"></i></button>

                <ng-template #modalCreateTeacher let-modal>
                  <div class="modal-dialog-centered modal-md" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <form #createTeacher="ngForm" class="row g-3 mb-3 px-4 formNuevaEditarAsignatura">
                                <h5 class="modal-title" id="titleModal"><b>Añadir Nuevo Docente</b></h5>
                                
                                <fieldset>
                                  <legend>Identificación</legend>
                                  <div class="row">
                                    <div class="form-group col-12">
                                        <label for="inputNombre" class="form-label titulo-seccion">Nombre *</label>
                                        <div class="custom-wrapper">
                                          <input type="text" class="form-control" id="inputNombre" required pattern="[a-zA-Z- ,áéíóúÁÉÍÓÚÑñÇç]{5,60}" placeholder="Nombre del docente" #name="ngModel" name="name" ngModel
                                          [ngClass]="!name.valid && name.touched ? 'border-error' : ''">
                                          <i class="fa-solid fa-xmark icon-login-error" *ngIf="!name.valid && name.touched" alt="Nombre inválido" placement="end" ngbTooltip="Nombre de docente inválido"></i>
                                        </div>
                                    </div>
                                    <div class="form-group col-12">
                                        <label for="inputEmail" class="form-label titulo-seccion">Correo Electrónico *</label>
                                        <div class="custom-wrapper">
                                          <input type="email" class="form-control" id="inputEmail" required email placeholder="Email del docente" #email="ngModel" name="email" ngModel
                                          [ngClass]="!email.valid && email.touched ? 'border-error' : ''">
                                          <i class="fa-solid fa-xmark icon-login-error" *ngIf="!email.valid && email.touched" alt="Email inválido" placement="end" ngbTooltip="Email inválido"></i>
                                        </div>
                                    </div>
                                    <div class="form-group col-12">
                                      <label for="inputHoras" class="form-label titulo-seccion">Horas *</label>
                                      <input type="number" class="form-control" id="inputHoras" required placeholder="Horas totales" #hours="ngModel" name="hours" ngModel>
                                    </div>
                                  </div>
                                </fieldset>
                                <button (click)="modal.dismiss(createTeacherInPod(createTeacher))" class="btn mx-auto boton-general tema-urjc-azul" [disabled]="!createTeacher.form.valid">Añadir</button>
                            </form>
                          </div>
                      </div>
                  </div>
                </ng-template>

                <span><small>Ordenar por </small></span>
                <select class="form-select-sm text-muted desplegable-buscador" [(ngModel)]="typeSort" (change)="getTeachersInPod()">
                  <option *ngFor="let item of valuesSorting" [ngValue]="item.value">{{item.name}}</option>
                </select>
              </div>
            </div>

            <ng-template #deleteTeacher let-modal>
              <div class="modal-dialog-centered" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="mb-3 px-4 centrar">
                          <img src="assets/images/img-borrar.png" width="90" height="90" class="mb-4" alt="imagen de advertencia borrado">
                          <h5 class="modal-title" id="titleModal3"><b>Eliminar a {{teacher.name}}</b><b id="teacherToDelete"></b></h5>
                          <a>¿Desea realmente eliminar al docente {{teacher.name}} del Plan Docente Actual?</a>
                        </div>
                        <div class="modal-footer">
                          <button (click)="modal.close(deleteTeacherInPod(teacher.id))" class="btn mx-auto boton-general tema-urjc-rojo">Eliminar</button>
                        </div>
                      </div>
                  </div>
              </div>
            </ng-template>

            <div class="col-12 contenido-asignaturas">
              <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-4" *ngIf="teachers && teachers.length != 0">
                
                <div class="col" *ngFor="let teacher of teachers">
                  <div class="card card-asignatura-libre h-100 w-100 shadow">
                      <div class="card-body contenido-cards">
                      <ul class="list-group list-group-flush carta-asignatura">
                          <li class="list-group-item detalles1">
                            <div>
                                <h4 class="card-title"><b>{{teacher.name}}</b></h4>
                                <h6 class="card-subtitle mb-2 text-muted">{{teacher.email}}</h6>
                            </div>
                          </li>
                      </ul>
                      </div>
                      <div class="card-footer text-muted">
                      <div class="row justify-content-end">
                          <button type="button" (click)="open(deleteTeacher, teacher)" title="Eliminar" class="col-2 btn boton-asignatura-libre"><i class="fa fa-trash fa-lg"></i></button>
                      </div>
                      </div>
                  </div>
                </div>

              </div>
              <div class="row justify-content-center mt-5" *ngIf="showLoader">
                <div class="col-2 mt-5">
                  <app-loader></app-loader>
                </div>
              </div>
              <div class="text-center no-data" *ngIf="teachers && teachers.length == 0 && !showLoader">
                <p><i class="fa-solid fa-2xl fa-user"></i></p>
                <p>No hay docentes aún</p>
              </div>
            </div>

          </div>
        </section>

      </div>

  </div>

  </main>
  <app-scroll-up></app-scroll-up>
