<app-navbar></app-navbar>
<main class="contenido-todo">
<div class="container-fluid ">
    <div class="row g-4 justify-content-center contenido-principal">

    <div class="col-md-6 col-xl-3">
        <div class="card card-estadisticas color-card-estadisticas-azul p-2 h-100 w-100 shadow">
        <div class="card-body">
            <i class="fa fa-calendar-check fa-2x iconos-estadisticas-azul"></i> 
            <h1 class="card-title"><b>{{personalStatistics[0]}}%</b></h1>
            <p class="card-text"><b>Carga Docente</b></p>
            <p class="card-text texto-fraccion"><b>{{personalStatistics[1]}}/{{personalStatistics[2]}}</b></p>
        </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">
        <div class="card card-estadisticas color-card-estadisticas-gris p-2 h-100 w-100 shadow">
        <div class="card-body">
            <i class="fa fa-calendar fa-2x gris iconos-estadisticas-gris"></i> 
            <h1 class="card-title"><b>{{personalStatistics[2]}}h</b></h1>
            <p class="card-text"><b>Fuerza Docente</b></p>
        </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">
        <div class="card card-estadisticas color-card-estadisticas-azul p-2 h-100 w-100 shadow">
        <div class="card-body">
            <i class="fa fa-book-open fa-2x iconos-estadisticas-azul"></i> 
            <h1 class="card-title"><b>{{personalStatistics[3]}}</b></h1>
            <p class="card-text"><b>Asignaturas</b></p>
        </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">
        <div class="card card-estadisticas color-card-estadisticas-gris p-2 h-100 w-100 shadow">
        <div class="card-body">
            <i class="fa fa-times fa-2x iconos-estadisticas-gris"></i> 
            <h1 class="card-title"><b>{{personalStatistics[4]}}</b></h1>
            <p class="card-text"><b>Conflictos</b></p>
        </div>
        </div>
    </div>

    </div>
</div>

<div class="container-fluid mt-4 px-0 px-md-5">
    <div class="row gx-4 gy-4 justify-content-center px-0 px-md-5">

    <!--<div class="col-12 col-xl-9">-->

        <div class="row gy-4">
        <div class="col-12 col-lg-7">
            <div class="box-mis-estadisticas h-100 w-100">
                <h6 class="text-center border-bottom titulo-mis-estadisticas"><b>Mis compañeros</b></h6>
                <table class="table table-borderless table-responsive" *ngIf="mates">
                    <tbody>
                    <tr *ngFor="let mate of mates">
                        <td>
                        <div>
                            <span><b>{{mate[0]}}</b></span><br>
                            <span><small class="text-muted">{{mate[1]}}</small></span>
                        </div>
                        </td>
                        <td class="td-progress-bar">
                        <span><b>Progreso:</b> {{mate[2]}}%</span>
                        <div class="progress" style="height: 8px; width: 90%;">
                            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-center py-3 text-muted" *ngIf="!mates || mates.length == 0">
                    <p>No hay docentes aún</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-5">
            <div class="box-mis-estadisticas h-100 w-100">
                <h6 class="text-center border-bottom titulo-mis-estadisticas"><b>Asignaturas por año</b></h6>
                <div class="form-group" *ngIf="courseChosen">
                    <select class="form-select text-muted form-select-sm desplegable-buscador" [(ngModel)]="courseChosen" (change)="getSubjectsByCourse()">
                        <option *ngFor="let course of courses" [ngValue]="course.id">{{course.name}}</option>
                    </select>
                </div>
                
                <table class="table table-borderless" *ngIf="courses.length != 0">
                <tbody>
                    <tr *ngFor="let subject of subjects">
                        <td>
                            <div>
                            <span><b>{{subject[0]}}</b></span><br>
                            <span><small class="text-muted">{{subject[1]}}</small></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
                </table>

                <div class="text-center py-3 text-muted" *ngIf="!subjects || subjects.length == 0">
                    <p>No hay asignaturas aún</p>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-lg-4">
            <div class="box-mis-estadisticas h-100 w-100">
                <h6 class="text-center border-bottom titulo-mis-estadisticas"><b>Horas por asignatura</b></h6>
                <canvas id="barChart" *ngIf="personalStatistics[3] != 0"></canvas>
                <div class="text-center py-3 text-muted" *ngIf="personalStatistics[3] == 0">
                    <p>No hay asignaturas aún</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-4">
            <div class="box-mis-estadisticas h-100 w-100">
                <h6 class="text-center border-bottom titulo-mis-estadisticas"><b>Porcentajes de asignaturas</b></h6>
                <canvas id="doughnutChart" *ngIf="personalStatistics[3] != 0"></canvas>
                <div class="text-center py-3 text-muted" *ngIf="personalStatistics[3] == 0">
                    <p>No hay asignaturas aún</p>
                </div>
            </div>
        </div>   

        <div class="col-12 col-lg-4 mb-0">
            <div class="box-mis-estadisticas color-card-estadisticas-azul-oscuro h-100 w-100 shadow">
            <h6 class="text-center titulo-mis-estadisticas"><b>Mis Datos</b></h6>
            <form>
                <div class="form-group">
                <label for="inputHorasEstadisticas">Horas Totales</label>
                <input type="number" id="inputHorasEstadisticas" class="ml-5 form-control" placeholder="Horas totales">
                </div>

                <div class="form-group mt-2">
                <label for="textareaObservaciones">Mis observaciones</label>
                <textarea class="form-control" id="textareaObservaciones" rows="2" placeholder="Mis observaciones"></textarea>
                </div>
                <div class="text-center mt-3">
                <button type="submit" onclick="anadirAsignatura()" class="btn mx-auto boton-general tema-urjc-azul" [disabled]="personalStatistics[1] == 0">Guardar</button>
                </div>
            </form>

            </div>
        </div>  

        </div> 
    </div>
</div>

</main>
<app-scroll-up></app-scroll-up>


