<app-navbar></app-navbar>
<main class="container-fluid">
<div class="row">
    
    <div class="col py-3">  

    <section class="col-12 col-md-10 offset-md-1 margen-top-contenido">
        <div class="row">

        <div class="col-12 d-flex justify-content-between">
            <span *ngIf="!mySubjects">Mostrando 0 resultados</span>
              <span *ngIf="mySubjects">Mostrando {{mySubjects.length}} resultados</span>
            <div>
            <button type="button" title="Añadir asignatura" class="btn boton" (click)="openJoinSubject(joinSubject)"><i class="fa fa-plus fa-sm"></i></button>

            <ng-template #joinSubject let-modal>
                <div class="modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form #formChooseSubject="ngForm" (ngSubmit)="modal.close(onSubmit(formChooseSubject))" >
                            <div class="mb-3 px-4">
                                <h5 class="modal-title" id="titleModal"><b>Añadir Asignatura</b></h5>
                                <div class="mb-3">
                                    <div class="custom-wrapper">
                                        <input type="text" class="form-control" list="grados" (change)="getSubjectById()" required pattern="[0-9a-zA-Z- ()áéíóúÁÉÍÓÚÑñÇç]{0,150}" id="inputGrado" placeholder="(2061) Grado Ingeniería Informática (O)"
                                        #name="ngModel" name="name" [(ngModel)]="idChosenSubject" [ngClass]="!name.valid && name.touched ? 'border-error' : ''">
                                        <i class="fa-solid fa-xmark icon-login-error" *ngIf="!name.valid && name.touched" alt="Asignatura inválida" ngbTooltip="Asignatura inválida"></i>
                                    </div>
                                    <datalist id="grados">
                                    <option *ngFor="let item of subjects" [value]="item.id">({{item.code}}) {{item.name}}</option>
                                    </datalist>
                                </div>

                                <div class="card" *ngIf="subject && subject[0].name && name.value">
                                    <div class="row g-0">
                                    <div class="col">
                                        <div class="card-body">
                                        <ul class="list-group list-group-flush carta-asignatura">
                                            <li class="list-group-item detalles1">
                                            <div>
                                                <h6 class="card-subtitle mb-2 text-muted"><b>{{subject[0].name}} ({{subject[0].code}})</b></h6>
                                                <small><i class="fa fa-clock fa-sm"></i>{{subject[0].totalHours}}h <i class="fa fa-map-marker-alt fa-sm"></i>{{subject[0].campus}}</small>
                                                <p class="card-text" *ngIf="subject[0].turn == 'T'"><small class="text-muted">Curso {{subject[0].year}} | {{subject[0].quarter}} | {{subject[0].type}} | Turno Tarde</small></p>
                                                <p class="card-text" *ngIf="subject[0].turn == 'M'"><small class="text-muted">Curso {{subject[0].year}} | {{subject[0].quarter}} | {{subject[0].type}} | Turno Mañana</small></p>
                                                <p class="titulo-grupo"><small><b>GRUPO</b></small><span class="badge fondo-grupos-asignaturas">{{subject[0].career}}</span></p>
                                                <p class="titulo-grupo" *ngIf="subject[0].assitanceCareers && subject[0].assitanceCareers.length != 0">
                                                    <small><b>GRUPOS ASISTENCIA</b></small>
                                                    <span class="badge fondo-grupos-asignaturas" *ngFor="let career of subject[0].assitanceCareers">{{career}}</span>
                                                </p>
                                            </div>
                                            </li>
                                            <li class="list-group-item detalles2" *ngIf="subject[2]">
                                                <p class="card-text">
                                                  <span *ngFor="let teacher of subject[2]"><small class="text-muted"><b>{{teacher}}</b></small><br></span>
                                                </p>
                                              </li>
                                            <li class="list-group-item detalles3" *ngIf="subject[0].schedules && subject[0].schedules.length != 0">
                                                <p class="card-text"><i class="fa fa-calendar fa-sm"></i>
                                                  <span class="text-muted" *ngFor="let schedule of subject[0].schedules"><small class="truncar"><b> {{schedule.dayWeek}}</b> - ({{schedule.startTime}} a {{schedule.endTime}})</small></span>
                                                </p>
                                            </li>
                                        </ul>
                                        </div>
                                    </div>
                                    </div>
                                </div>

                                <div class="mt-4 div-input d-flex justify-content-center" *ngIf="subject">
                                    <label for="horas_anadidas"><b>Horas deseadas</b></label>
                                    <input type="number" class="form-control" #hours="ngModel" min="0" max="{{subject[0].totalHours}}" name="hours" ngModel required id="inputHoras" placeholder="20">
                                    <span> h</span>
                                </div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn mx-auto boton-general tema-urjc-azul" [disabled]="!formChooseSubject.form.valid">Añadir</button>
                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </ng-template>

            <span><small>Ordenar por </small></span>
            <select class="form-select-sm text-muted desplegable-buscador" [(ngModel)]="typeSort" (change)="getMySubjects()">
                <option *ngFor="let item of valuesSorting" [ngValue]="item.value">{{item.name}}</option>
            </select>
            </div>
        </div>

        <ng-template #alertConflicts let-modal>
            <div class="modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <div class="mb-3 px-4">
                        <h5 class="modal-title centrar" id="titleModal4"><b>Conflictos de horario</b></h5>
                        <a>La asignatura de <b>{{subject[0].name}}</b> presenta los siguientes conflictos de horario:</a>
                        <ul class="list-group list-group-flush" *ngIf="subject[2]">
                            
                            <li class="list-group-item" *ngFor="let conflict of subject[2]">
                                <p class="card-text">
                                  <span><small class="text-muted"><b>{{conflict}}</b></small><br></span>
                                </p>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button (click)="modal.dismiss()" class="btn mx-auto boton-general tema-urjc-rojo">Aceptar</button>
                    </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <div class="col-12 contenido-asignaturas-docentes">
            <div class="row row-cols-1 row-cols-xl-2 g-4">
            
                <div class="col" *ngFor="let mySubject of mySubjects">
                    <div [ngClass]="{'card-asignatura-colision': 0 > mySubject[1], 'card-asignatura-libre' : mySubject[1] > 0, 'card-asignatura-completa' : 0 == mySubject[1]}" class="card h-100 w-100 shadow">
                        <div class="card-body contenido-cards">
                        <ul class="list-group list-group-flush carta-asignatura">
                            <li class="list-group-item detalles1">
                            <div>
                                <h4 class="card-title"><b>{{mySubject[0].name}} ({{mySubject[0].code}})</b>
                                    <button *ngIf="mySubject[2].length" type="button" title="Alerta conflicto" class="col-1 btn color-colision boton-alerta" (click)="openAlert(alertConflicts, mySubject)">
                                    <i class="fa fa-exclamation-circle fa-lg"></i>
                                  </button></h4>
                                <h6 class="card-subtitle mb-2 text-muted">{{mySubject[0].title}}
                                <small *ngIf="0 > mySubject[1]" class="truncar estado-asignatura colision">Colisión docente</small>
                                <small *ngIf="mySubject[1] > 0" class="truncar estado-asignatura libre">Libre</small> 
                                <small *ngIf="0 == mySubject[1]" class="truncar estado-asignatura completa">Completa</small>
                                </h6>
                                <small><i class="fa fa-clock fa-sm"></i>{{mySubject[0].totalHours}}h <i class="fa fa-map-marker-alt fa-sm"></i>{{mySubject[0].campus}}</small>
                                <p class="card-text" *ngIf="mySubject[0].turn == 'T'"><small class="text-muted">Curso {{mySubject[0].year}} | {{mySubject[0].quarter}} | {{mySubject[0].type}} | Turno Tarde</small></p>
                                <p class="card-text" *ngIf="mySubject[0].turn == 'M'"><small class="text-muted">Curso {{mySubject[0].year}} | {{mySubject[0].quarter}} | {{mySubject[0].type}} | Turno Mañana</small></p>
                                <p class="titulo-grupo"><small><b>GRUPO</b></small><span class="badge fondo-grupos-asignaturas">{{mySubject.career}}</span></p>
                                <p class="titulo-grupo" *ngIf="mySubject[0].assitanceCareers && mySubject[0].assitanceCareers.length != 0">
                                    <small><b>GRUPOS ASISTENCIA</b></small>
                                    <span class="badge fondo-grupos-asignaturas" *ngFor="let career of mySubject[0].assitanceCareers">{{career}}</span>
                                </p>
                            </div>
                            </li>
                            <li class="list-group-item detalles2" *ngIf="mySubject[3]">
                                <p class="card-text">
                                  <span *ngFor="let teacher of mySubject[3]"><small class="text-muted"><b>{{teacher}}</b></small><br></span>
                                </p>
                              </li>
                            <li class="list-group-item detalles3" *ngIf="mySubject[0].schedules && mySubject[0].schedules.length != 0">
                                <p class="card-text"><i class="fa fa-calendar fa-sm"></i>
                                  <small class="text-muted" *ngFor="let schedule of mySubject[0].schedules"><b> {{schedule.dayWeek}}</b> - ({{schedule.startTime}} a {{schedule.endTime}}) </small>
                                </p>
                            </li>
                        </ul>
                        </div>
                        <div class="card-footer text-muted">
                            <div class="row justify-content-end">
                              <button type="button" (click)="openRecord(record, mySubject)" title="Ver" class="col-2 m-2 btn boton-asignatura-libre"><i class="fa fa-eye fa-lg"></i></button>
                              <button type="button" (click)="openEdit(editPOD, mySubject)" title="Editar" class="col-2 m-2 btn boton-asignatura-libre"><i class="fa fa-pencil fa-lg"></i></button>
                              <button type="button" (click)="openDelete(deletePOD, mySubject[0])" title="Eliminar" class="col-2 m-2 btn boton-asignatura-libre"><i class="fa fa-trash fa-lg"></i></button>
                            </div>
                            </div>
                    </div>
                </div>

            </div>
        </div>

        </div>
    </section>

    </div>

</div>

</main>
<app-scroll-up></app-scroll-up>

<ng-template #deletePOD let-modal>
    <div class="modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3 px-4 centrar">
                <img src="assets/images/img-borrar.png" width="90" height="90" class="mb-4" alt="imagen de advertencia borrado">
                <h5 class="modal-title" id="titleModal3"><b>Eliminar {{subjectToDelete.name}}</b></h5>
                <a>¿Desea realmente quitar {{subjectToDelete.name}} de sus asignaturas?</a>
              </div>
              <div class="modal-footer">
                <button (click)="modal.close(unjoinToSubject(subjectToDelete.id))" class="btn mx-auto boton-general tema-urjc-rojo">Eliminar</button>
              </div>
            </div>
        </div>
    </div>
  </ng-template>

  <ng-template #editPOD let-modal>
    <div class="modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #formEditSubject="ngForm" (ngSubmit)="modal.close(onSubmitEdit(formEditSubject))">
                    <div class="mb-3 px-4">
                        <h5 class="modal-title" id="titleModal2"><b>Editar {{subjectToEdit[0].name}}</b></h5>

                        <ul class="list-group list-group-flush carta-asignatura">
                        <li class="list-group-item">
                            <small class="text-muted"><b>DOCENTES</b></small>
                            <p class="card-text">
                                <span *ngFor="let subject of subjectToEdit[3]" class="truncar">
                                    <small class="text-muted"><b>{{subject}}</b></small><br>
                                </span>
                            </p>
                        </li>
                        </ul>
                        <hr>
                        
                        <div class="div-input d-flex justify-content-center ">
                        <label for="horas_asignatura"><b>Horas asignatura</b></label>
                        <input type="number" id="horas_asignatura" disabled placeholder="{{subjectToEdit[0].totalHours}}" class="text-muted p-2"/>
                        <span> h</span>
                        </div>

                        <div class="mt-2 div-input d-flex justify-content-center">
                        <label for="inputHoras"><b>Horas escogidas *</b></label>
                        <input class="form-control" type="number" required class="p-2" min="0" max="{{subjectToEdit[0].totalHours}}" #hours="ngModel" name="hours" ngModel
                        id="inputHoras"/>
                        <span> h</span>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn mx-auto boton-general tema-urjc-azul" [disabled]="!formEditSubject.form.valid">Editar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </ng-template>

  <ng-template #record let-offcanvas>
    <div class="offcanvas-header">
      <h4 class="offcanvas-title">Historial</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss()"></button>
    </div>
    <div class="offcanvas-body">
      <p><b>{{subject[0].name}}</b></p>
      <ul class="list-group list-group-flush" *ngIf="(records | json) != '{}'">
        <li class="list-group-item" *ngFor="let item of records | keyvalue: asIsOrder">
          <p>
            <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x color-libre-claro"></i>
              <i class="fa fa-2xs fa-graduation-cap fa-stack-1x color-libre"></i>
            </span>
            <span class="course-history color-libre">{{item.key}}</span><br>
            <span *ngFor="let teacherName of getValues(item.value)"><span class="teacher-history truncar">{{teacherName}}</span><br></span>
          </p>
        </li>
      </ul>
      <div class="d-flex justify-content-center pt-3">
        <button class="btn mx-auto boton-general tema-urjc-azul" (click)="offcanvas.dismiss()">Cerrar</button>
        </div>
    </div>
  </ng-template>
  