<app-navbar></app-navbar>
<main class="container-fluid">
<div class="row">
    
    <div class="col py-3">  

    <section class="col-12 col-md-10 offset-md-1 margen-top-contenido">
        <div class="row">

        <div class="col-12 d-flex justify-content-between">
            <span>Mostrando 7 resultados</span>
            <div>
            <button type="button" title="Añadir asignatura" class="btn boton" data-bs-toggle="modal" data-bs-target="#modalAnadirAsignatura"><i class="fa fa-plus fa-sm"></i></button>

            <div class="modal fade" id="modalAnadirAsignatura" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                            <div class="mb-3 px-4">
                                <h5 class="modal-title" id="titleModal"><b>Añadir Asignatura</b></h5>
                                <div class="mb-3">
                                    <select id="desplegableAsignaturas" class="form-select text-muted">
                                        <option disabled selected>Selecciona una asignatura</option>
                                        <option value="1">Estructuras de datos (24640)</option>
                                        <option value="2">Multimedia (25678)</option>
                                        <option value="3">Lógica (27465)</option>
                                        <option value="4">Bases de datos (24640)</option>
                                        <option value="5">POO (25678)</option>
                                        <option value="6">Paradigmas de la programación (27465)</option>
                                        <option value="7">Diseño y Análisis de Algoritmos(24640)</option>
                                        <option value="8">Sistemas Operativos (25678)</option>
                                        <option value="9">Laboratorio de Dispositivos Móviles (27465)</option>
                                        <option value="10">Tecnología de Bases de datos (24640)</option>
                                        <option value="11">ISI (25678)</option>
                                        <option value="12">Arquitectura e Ingeniería de Computadores (27465)</option>
                                        <option value="13">Introducción a la programación (24640)</option>
                                        <option value="14">Introducción a la informática (25678)</option>
                                        <option value="15">Diseño y Arquitectura del Software (27465)</option>
                                        <option value="16">Seguridad Informática (24640)</option>
                                        <option value="17">Diseño de Aplicaciones Web (25678)</option>
                                        <option value="18">Calidad del Software (27465)</option>
                                        <option value="19">Procesos del Software (24640)</option>
                                        <option value="20">Estadística (25678)</option>
                                        <option value="21">MOEG (27465)</option>
                                        <option value="22">Filosofía (24640)</option>
                                        <option value="23">Interacción persona ordenador (25678)</option>
                                        <option value="24">Investigación Operativa (27465)</option>
                                    </select>
                                </div>

                                <div class="card">
                                    <div class="row g-0">
                                    <div class="col">
                                        <div class="card-body">
                                        <ul class="list-group list-group-flush carta-asignatura">
                                            <li class="list-group-item">
                                            <div>
                                                <h6 class="card-subtitle mb-2 text-muted">Grado Ingeniería del Software 
                                                <small class="estado-asignatura truncar colision justify-content-center">Conflicto horario</small>
                                                </h6>
                                                <small><i class="fa fa-clock fa-sm"></i>80h <i class="fa fa-map-marker-alt fa-sm"></i>Móstoles</small>
                                                <p class="card-text"><small class="text-muted">Curso 1 | Cuatrimestre 1 | Optativa | Turno Tarde</small></p>
                                                <p class="titulo-grupo"><small><b>GRUPO</b></small><span class="badge fondo-grupos-asignaturas">G_ICOMPU_3A(M)</span></p>
                                                <p class="titulo-grupo"><small><b>GRUPOS ASISTENCIA</b></small><span class="badge fondo-grupos-asignaturas">G_INF-COMP_3A(M)</span>
                                                <span class="badge fondo-grupos-asignaturas">G_VIDEO-COMP_3A(M)</span></p>
                                            </div>
                                            </li>
                                            <li class="list-group-item">
                                            <p class="card-text"><b class="color-colision">60h</b><small class="text-muted"> Juan Martínez Fernández</small><br>
                                                <b class="color-colision">20h</b><small class="text-muted"> Martina Rodríguez Fuentes</small></p>
                                            </li>
                                            <li class="list-group-item">
                                            <p class="card-text"><i class="fa fa-calendar fa-sm"></i><small class="text-muted"> M - 11:00 a 13:00 y X - 11:00 a 13:00</small></p>
                                            </li></ul>
                                        </div>
                                    </div>
                                    </div>
                                </div>

                                <div class="mt-4 div-input d-flex justify-content-center">
                                    <label for="horas_anadidas"><b>Horas deseadas</b></label>
                                    <input type="number" id="horas_anadidas" class="text-muted p-2" min="0" max="100"/>
                                    <span> h</span>
                                </div>

                                <div class="modal-footer">
                                    <button type="submit" onclick="anadirAsignatura()" class="btn mx-auto boton-general tema-urjc-azul">Añadir</button>
                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <span><small>Ordenar por </small></span>
            <select class="form-select-sm text-muted text-muted desplegable-buscador">
                <option selected value="1">Asignatura</option>
                <option value="2">Carga </option>
            </select>
            </div>
        </div>

        <div class="modal fade" id="alerta-editar-asignatura" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <div class="mb-3 px-4">
                        <h5 class="modal-title" id="titleModal2"><b>Editar Estructura de Datos</b></h5>

                        <ul class="list-group list-group-flush carta-asignatura">
                        <li class="list-group-item">
                            <small class="text-muted"><b>DOCENTES</b></small>
                            <p class="card-text"><b class="color-colision">60h</b><small class="text-muted"> Juan Martínez Fernández</small><br>
                            <b class="color-colision">20h</b><small class="text-muted"> Martina Rodríguez Fuentes</small></p>
                        </li>
                        </ul>
                        <hr>
                        
                        <div class="div-input d-flex justify-content-center ">
                        <label for="horas_asignatura"><b>Horas asignatura</b></label>
                        <input type="number" id="horas_asignatura" disabled class="text-muted p-2" min="0" max="100"/>
                        <span> h</span>
                        </div>

                        <div class="mt-2 div-input d-flex justify-content-center">
                        <label for="horas_editadas"><b>Horas escogidas</b></label>
                        <input type="number" id="horas_editadas" class="p-2" min="0" max="100"/>
                        <span> h</span>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" onclick="anadirAsignatura()" class="btn mx-auto boton-general tema-urjc-azul">Editar</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="alerta-eliminar-asignatura" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <div class="mb-3 px-4 centrar">
                        <img src="assets/img-borrar.png" width="90" height="90" class="mb-4" alt="imagen de advertencia borrado">
                        <h5 class="modal-title" id="titleModal3"><b>Eliminar Estructura de Datos</b></h5>
                        <a>¿Desea realmente eliminar la asignatura Estructura de Datos de sus asignaturas?</a>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn mx-auto boton-general tema-urjc-rojo">Eliminar</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="alerta-conflicto1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <div class="mb-3 px-4 centrar">
                        <h5 class="modal-title" id="titleModal4"><b>Solapamiento de horarios</b></h5>
                        <a>Los horarios coinciden con otra asignatura.</a>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn mx-auto boton-general tema-urjc-rojo">Aceptar</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="alerta-conflicto2" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <div class="mb-3 px-4 centrar">
                        <h5 class="modal-title" id="titleModal5"><b>Horarios cercanos</b></h5>
                        <a>Los horarios de la asignatura se encuentran muy cercanos a los de otra asignatura escogida.</a>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn mx-auto boton-general tema-urjc-rojo">Aceptar</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 contenido-asignaturas-docentes">
            <div class="row row-cols-1 row-cols-xl-2 g-4">
            
            <div class="col">
                <div class="card card-asignatura-colision h-100 w-100 shadow">
                <div class="row g-0">
                    <div class="col">
                    <div class="card-body">
                        <ul class="list-group list-group-flush carta-asignatura">
                        <li class="list-group-item">
                            <!--<a class="card-block stretched-link text-decoration-none" href></a>-->
                            <div>
                            <h4 class="card-title"><b>Estructura de datos (20430)</b>
                                <button type="button" title="Alerta conflicto" class="col-1 btn color-colision boton-alerta" data-bs-toggle="modal" data-bs-target="#alerta-conflicto1">
                                <i class="fa fa-exclamation-circle fa-lg"></i>
                                </button>
                            </h4>
                            <h6 class="card-subtitle mb-2 text-muted">Grado Ingeniería del Software 
                            <small class="estado-asignatura colision justify-content-center">Colisión docente</small>
                            </h6>
                            <small><i class="fa fa-clock fa-sm"></i>80h <i class="fa fa-map-marker-alt fa-sm"></i>Móstoles</small>
                            <p class="card-text"><small class="text-muted">Curso 1 | Cuatrimestre 1 | Optativa | Turno Tarde</small></p>
                            <p class="titulo-grupo"><small><b>GRUPO</b></small><span class="badge fondo-grupos-asignaturas">G_ICOMPU_3A(M)</span></p>
                            <p class="titulo-grupo"><small><b>GRUPOS ASISTENCIA</b></small><span class="badge fondo-grupos-asignaturas">G_INF-COMP_3A(M)</span>
                                <span class="badge fondo-grupos-asignaturas">G_VIDEO-COMP_3A(M)</span></p>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <p class="card-text"><b class="color-colision">60h</b><small class="text-muted"> Juan Martínez Fernández</small><br>
                            <b class="color-colision">20h</b><small class="text-muted"> Martina Rodríguez Fuentes</small></p>
                        </li>
                        <li class="list-group-item">
                            <p class="card-text"><i class="fa fa-calendar fa-sm"></i><small class="text-muted"> M - 11:00 a 13:00 y X - 11:00 a 13:00</small></p>
                            <div class="row justify-content-end">
                            <button type="button" onclick="verAsignatura()" title="Ver" class="col-1 btn boton-asignatura-colision"><i class="fa fa-eye fa-lg"></i></button>
                            <button type="button" data-bs-toggle="modal" data-bs-target="#alerta-editar-asignatura" title="Editar" class="col-1 btn boton-asignatura-colision"><i class="fa fa-pencil-alt fa-lg"></i></button>
                            <button type="button" data-bs-toggle="modal" data-bs-target="#alerta-eliminar-asignatura" title="Eliminar" class="col-1 btn boton-asignatura-colision"><i class="fa fa-trash fa-lg"></i></button>
                            </div>
                        </li></ul>
                    </div>
                    </div>
                </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-asignatura-completa h-100 w-100 shadow">
                <div class="row g-0">
                    <div class="col">
                    <div class="card-body">
                        <ul class="list-group list-group-flush carta-asignatura">
                        <li class="list-group-item">
                            <div>
                            <h4 class="card-title"><b>Estructura de datos (20430)</b></h4>
                            <h6 class="card-subtitle mb-2 text-muted">Grado Ingeniería del Software 
                            <small class="estado-asignatura completa justify-content-center">Completa</small>
                            </h6>
                            <small><i class="fa fa-clock fa-sm"></i>80h <i class="fa fa-map-marker-alt fa-sm"></i>Móstoles</small>
                            <p class="card-text"><small class="text-muted">Curso 1 | Cuatrimestre 1 | Optativa | Turno Tarde</small></p>
                            <p class="titulo-grupo"><small><b>GRUPO</b></small><span class="badge fondo-grupos-asignaturas">G_ICOMPU_3A(M)</span></p>
                            <p class="titulo-grupo"><small><b>GRUPOS ASISTENCIA</b></small><span class="badge fondo-grupos-asignaturas">G_INF-COMP_3A(M)</span>
                                <span class="badge fondo-grupos-asignaturas">G_VIDEO-COMP_3A(M)</span></p>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <p class="card-text"><b class="color-completa">60h</b><small class="text-muted"> Juan Martínez Fernández</small><br>
                            <b class="color-completa">20h</b><small class="text-muted"> Martina Rodríguez Fuentes</small></p>
                        </li>
                        <li class="list-group-item">
                            <p class="card-text"><i class="fa fa-calendar fa-sm"></i><small class="text-muted"> M - 11:00 a 13:00 y X - 11:00 a 13:00</small></p>
                            <div class="row justify-content-end">
                            <button type="button" onclick="verAsignatura()" title="Ver" class="col-1 btn boton-asignatura-completa"><i class="fa fa-eye fa-lg"></i></button>
                            <button type="button" onclick="editarAsignatura()" title="Editar" class="col-1 btn boton-asignatura-completa"><i class="fa fa-pencil-alt fa-lg"></i></button>
                            <button type="button" onclick="eliminarAsignatura()" title="Eliminar" class="col-1 btn boton-asignatura-completa"><i class="fa fa-trash fa-lg"></i></button>
                            </div>
                        </li></ul>
                    </div>
                    </div>
                </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-asignatura-libre h-100 w-100 shadow">
                <div class="row g-0">
                    <div class="col">
                    <div class="card-body">
                        <ul class="list-group list-group-flush carta-asignatura">
                        <li class="list-group-item">
                            <div>
                            <h4 class="card-title"><b>Estructura de datos (20430)</b></h4>
                            <h6 class="card-subtitle mb-2 text-muted">Grado Ingeniería del Software 
                            <small class="estado-asignatura libre justify-content-center">Libre</small>
                            </h6>
                            <small><i class="fa fa-clock fa-sm"></i>80h <i class="fa fa-map-marker-alt fa-sm"></i>Móstoles</small>
                            <p class="card-text"><small class="text-muted">Curso 1 | Cuatrimestre 1 | Optativa | Turno Tarde</small></p>
                            <p class="titulo-grupo"><small><b>GRUPO</b></small><span class="badge fondo-grupos-asignaturas">G_ICOMPU_3A(M)</span></p>
                            <p class="titulo-grupo"><small><b>GRUPOS ASISTENCIA</b></small><span class="badge fondo-grupos-asignaturas">G_INF-COMP_3A(M)</span>
                                <span class="badge fondo-grupos-asignaturas">G_VIDEO-COMP_3A(M)</span></p>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <p class="card-text"><b class="color-libre">60h</b><small class="text-muted"> Juan Martínez Fernández</small><br>
                            <b class="color-libre">20h</b><small class="text-muted"> Martina Rodríguez Fuentes</small></p>
                        </li>
                        <li class="list-group-item">
                            <p class="card-text"><i class="fa fa-calendar fa-sm"></i><small class="text-muted"> M - 11:00 a 13:00 y X - 11:00 a 13:00</small></p>
                            <div class="row justify-content-end">
                            <button type="button" onclick="verAsignatura()" title="Ver" class="col-1 btn boton-asignatura-libre"><i class="fa fa-eye fa-lg"></i></button>
                            <button type="button" onclick="editarAsignatura()" title="Editar" class="col-1 btn boton-asignatura-libre"><i class="fa fa-pencil-alt fa-lg"></i></button>
                            <button type="button" onclick="eliminarAsignatura()" title="Eliminar" class="col-1 btn boton-asignatura-libre"><i class="fa fa-trash fa-lg"></i></button>
                            </div>
                        </li></ul>
                    </div>
                    </div>
                </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-asignatura-libre h-100 w-100 shadow">
                <div class="row g-0">
                    <div class="col">
                    <div class="card-body">
                        <ul class="list-group list-group-flush carta-asignatura">
                        <li class="list-group-item">
                            <div>
                            <h4 class="card-title"><b>Estructura de datos (20430)</b></h4>
                            <h6 class="card-subtitle mb-2 text-muted">Grado Ingeniería del Software 
                            <small class="estado-asignatura libre justify-content-center">Libre</small>
                            </h6>
                            <small><i class="fa fa-clock fa-sm"></i>80h <i class="fa fa-map-marker-alt fa-sm"></i>Móstoles</small>
                            <p class="card-text"><small class="text-muted">Curso 1 | Cuatrimestre 1 | Optativa | Turno Tarde</small></p>
                            <p class="titulo-grupo"><small><b>GRUPO</b></small><span class="badge fondo-grupos-asignaturas">G_ICOMPU_3A(M)</span></p>
                            <p class="titulo-grupo"><small><b>GRUPOS ASISTENCIA</b></small><span class="badge fondo-grupos-asignaturas">G_INF-COMP_3A(M)</span>
                                <span class="badge fondo-grupos-asignaturas">G_VIDEO-COMP_3A(M)</span></p>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <p class="card-text"><b class="color-libre">60h</b><small class="text-muted"> Juan Martínez Fernández</small><br>
                            <b class="color-libre">20h</b><small class="text-muted"> Martina Rodríguez Fuentes</small></p>
                        </li>
                        <li class="list-group-item">
                            <p class="card-text"><i class="fa fa-calendar fa-sm"></i><small class="text-muted"> M - 11:00 a 13:00 y X - 11:00 a 13:00</small></p>
                            <div class="row justify-content-end">
                            <button type="button" onclick="verAsignatura()" title="Ver" class="col-1 btn boton-asignatura-libre"><i class="fa fa-eye fa-lg"></i></button>
                            <button type="button" onclick="editarAsignatura()" title="Editar" class="col-1 btn boton-asignatura-libre"><i class="fa fa-pencil-alt fa-lg"></i></button>
                            <button type="button" onclick="eliminarAsignatura()" title="Eliminar" class="col-1 btn boton-asignatura-libre"><i class="fa fa-trash fa-lg"></i></button>
                            </div>
                        </li></ul>
                    </div>
                    </div>
                </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-asignatura-colision h-100 w-100 shadow">
                <div class="row g-0">
                    <div class="col">
                    <div class="card-body">
                        <ul class="list-group list-group-flush carta-asignatura">
                        <li class="list-group-item">
                            <div>
                            <h4 class="card-title"><b>Estructura de datos (20430)</b>
                                <button type="button" title="Alerta conflicto" class="col-1 btn color-colision boton-alerta" data-bs-toggle="modal" data-bs-target="#alerta-conflicto2">
                                <i class="fa fa-exclamation-circle fa-lg"></i>
                                </button>
                            </h4>

                            <h6 class="card-subtitle mb-2 text-muted">Grado Ingeniería del Software 
                            <small class="estado-asignatura colision justify-content-center">Colisión docente</small>
                            </h6>
                            <small><i class="fa fa-clock fa-sm"></i>80h <i class="fa fa-map-marker-alt fa-sm"></i>Móstoles</small>
                            <p class="card-text"><small class="text-muted">Curso 1 | Cuatrimestre 1 | Optativa | Turno Tarde</small></p>
                            <p class="titulo-grupo"><small><b>GRUPO</b></small><span class="badge fondo-grupos-asignaturas">G_ICOMPU_3A(M)</span></p>
                            <p class="titulo-grupo"><small><b>GRUPOS ASISTENCIA</b></small><span class="badge fondo-grupos-asignaturas">G_INF-COMP_3A(M)</span>
                                <span class="badge fondo-grupos-asignaturas">G_VIDEO-COMP_3A(M)</span></p>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <p class="card-text"><b class="color-colision">60h</b><small class="text-muted"> Juan Martínez Fernández</small><br>
                            <b class="color-colision">20h</b><small class="text-muted"> Martina Rodríguez Fuentes</small></p>
                        </li>
                        <li class="list-group-item">
                            <p class="card-text"><i class="fa fa-calendar fa-sm"></i><small class="text-muted"> M - 11:00 a 13:00 y X - 11:00 a 13:00</small></p>
                            <div class="row justify-content-end">
                            <button type="button" onclick="verAsignatura()" title="Ver" class="col-1 btn boton-asignatura-colision"><i class="fa fa-eye fa-lg"></i></button>
                            <button type="button" onclick="editarAsignatura()" title="Editar" class="col-1 btn boton-asignatura-colision"><i class="fa fa-pencil-alt fa-lg"></i></button>
                            <button type="button" onclick="eliminarAsignatura()" title="Eliminar" class="col-1 btn boton-asignatura-colision"><i class="fa fa-trash fa-lg"></i></button>
                            </div>
                        </li></ul>
                    </div>
                    </div>
                </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-asignatura-colision h-100 w-100 shadow">
                <div class="row g-0">
                    <div class="col">
                    <div class="card-body">
                        <ul class="list-group list-group-flush carta-asignatura">
                        <li class="list-group-item">
                            <div>
                            <h4 class="card-title"><b>Estructura de datos (20430)</b></h4>
                            <h6 class="card-subtitle mb-2 text-muted">Grado Ingeniería del Software 
                            <small class="estado-asignatura colision justify-content-center">Colisión docente</small>
                            </h6>
                            <small><i class="fa fa-clock fa-sm"></i>80h <i class="fa fa-map-marker-alt fa-sm"></i>Móstoles</small>
                            <p class="card-text"><small class="text-muted">Curso 1 | Cuatrimestre 1 | Optativa | Turno Tarde</small></p>
                            <p class="titulo-grupo"><small><b>GRUPO</b></small><span class="badge fondo-grupos-asignaturas">G_ICOMPU_3A(M)</span></p>
                            <p class="titulo-grupo"><small><b>GRUPOS ASISTENCIA</b></small><span class="badge fondo-grupos-asignaturas">G_INF-COMP_3A(M)</span>
                                <span class="badge fondo-grupos-asignaturas">G_VIDEO-COMP_3A(M)</span></p>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <p class="card-text"><b class="color-colision">60h</b><small class="text-muted"> Juan Martínez Fernández</small><br>
                            <b class="color-colision">20h</b><small class="text-muted"> Martina Rodríguez Fuentes</small></p>
                        </li>
                        <li class="list-group-item">
                            <p class="card-text"><i class="fa fa-calendar fa-sm"></i><small class="text-muted"> M - 11:00 a 13:00 y X - 11:00 a 13:00</small></p>
                            <div class="row justify-content-end">
                            <button type="button" onclick="verAsignatura()" title="Ver" class="col-1 btn boton-asignatura-colision"><i class="fa fa-eye fa-lg"></i></button>
                            <button type="button" onclick="editarAsignatura()" title="Editar" class="col-1 btn boton-asignatura-colision"><i class="fa fa-pencil-alt fa-lg"></i></button>
                            <button type="button" onclick="eliminarAsignatura()" title="Eliminar" class="col-1 btn boton-asignatura-colision"><i class="fa fa-trash fa-lg"></i></button>
                            </div>
                        </li></ul>
                    </div>
                    </div>
                </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-asignatura-colision h-100 w-100 shadow">
                <div class="row g-0">
                    <div class="col">
                    <div class="card-body">
                        <ul class="list-group list-group-flush carta-asignatura">
                        <li class="list-group-item">
                            <div>
                            <h4 class="card-title"><b>Estructura de datos (20430)</b></h4>
                            <h6 class="card-subtitle mb-2 text-muted">Grado Ingeniería del Software 
                            <small class="estado-asignatura colision justify-content-center">Colisión docente</small>
                            </h6>
                            <small><i class="fa fa-clock fa-sm"></i>80h <i class="fa fa-map-marker-alt fa-sm"></i>Móstoles</small>
                            <p class="card-text"><small class="text-muted">Curso 1 | Cuatrimestre 1 | Optativa | Turno Tarde</small></p>
                            <p class="titulo-grupo"><small><b>GRUPO</b></small><span class="badge fondo-grupos-asignaturas">G_ICOMPU_3A(M)</span></p>
                            <p class="titulo-grupo"><small><b>GRUPOS ASISTENCIA</b></small><span class="badge fondo-grupos-asignaturas">G_INF-COMP_3A(M)</span>
                                <span class="badge fondo-grupos-asignaturas">G_VIDEO-COMP_3A(M)</span></p>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <p class="card-text"><b class="color-colision">60h</b><small class="text-muted"> Juan Martínez Fernández</small><br>
                            <b class="color-colision">20h</b><small class="text-muted"> Martina Rodríguez Fuentes</small></p>
                        </li>
                        <li class="list-group-item">
                            <p class="card-text"><i class="fa fa-calendar fa-sm"></i><small class="text-muted"> M - 11:00 a 13:00 y X - 11:00 a 13:00</small></p>
                            <div class="row justify-content-end">
                            <button type="button" onclick="verAsignatura()" title="Ver" class="col-1 btn boton-asignatura-colision"><i class="fa fa-eye fa-lg"></i></button>
                            <button type="button" onclick="editarAsignatura()" title="Editar" class="col-1 btn boton-asignatura-colision"><i class="fa fa-pencil-alt fa-lg"></i></button>
                            <button type="button" onclick="eliminarAsignatura()" title="Eliminar" class="col-1 btn boton-asignatura-colision"><i class="fa fa-trash fa-lg"></i></button>
                            </div>
                        </li></ul>
                    </div>
                    </div>
                </div>
                </div>
            </div>

            </div>
        </div>

        </div>
    </section>

    </div>

</div>

</main>
<app-scroll-up></app-scroll-up>