.login{
    position: relative;
    background: rgba(201, 200, 200, 0.541);
    max-width: 500px;
    max-height: 500px;
}

#background-login{
  background-image: url("src/assets/images/urjc.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: auto;
  min-height: 100vh;
}

h3{
  font-size: .83em;
}

#login-title{
  font-size: 1.8em;
  margin-top: 10px;
  margin-bottom: 25px;
}

#input-email{
  border-bottom-left-radius:0%;
  border-top-left-radius: 0%;
}

.access-content{
  margin-top: 1em;
}

.access-content [type="button"]{
  background-color: transparent;
  border: none;
  text-align: left;
  color: var(--white);
}

.background-black-opacity{
  height: auto;
  min-height: 100vh;
  background-color: rgba(22, 22, 22, 0.39);
}

.progress-loader {
    background: var(--white);
    height: 5px;
}

.progress {
  content: '';
  width: 0px;
  height: 5px;
  background: var(--light-red);
  transition: 1s;
  animation: loading 300s normal;
}

main{
  margin-top:5%;
}

@keyframes loading {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@media (max-width: 575px){
  .access-content [type="button"]{
    background-color: transparent;
    border: none;
    text-align: center;
    color: var(--white);
  }
}