<div id="background-login">
  <div  class="background-black-opacity">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
          <div class="container-fluid d-flex justify-content-start">
            <span class="navbar-brand">
              <img src="assets/images/URJC-Logo.jpg" width="175" height="86" class="d-inline-block align-top" alt="Logo URJC">
            </span>
            <span class="navbar-brand mb-0 h1">Gestión POD</span>
          </div>
        </nav>
    </header>
    <main>
        <div class="page-login">
          <div class="login mx-auto mt-5 text-white">
            <form #loginTeacher="ngForm" (ngSubmit)="onSubmit(loginTeacher)" class="px-5 pt-5 pb-5">
              <div class="form-group">
                  <h1 id="tituloLogin">Gestión POD</h1>
                  <div class="input">
                    <i class="fa fa-user icon-login"></i>
                    <div class="custom-wrapper">
                      <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Correo electrónico"
                      #email="ngModel" name="email" [(ngModel)]="emailTeacher" required email [ngClass]="!email.valid && email.touched ? 'border-error' : ''">
                      <i class="fa-solid fa-xmark icon-login-error" *ngIf="!email.valid && email.touched"></i>
                    </div>
                  </div>
              </div>
              <div class="container-fluid contenedor-acceso">
                  <div class="row justify-content-between">
                  <p class="text-center my-auto col-7">¿Problemas de acceso?</p>
                  <button type="submit" class="btn mx-auto my-md-0 col-4 boton-general tema-urjc-rojo" [disabled]="!loginTeacher.form.valid || status == 'sentCode'">Acceder</button>
                  </div>
              </div>
            </form>

            <div class="px-5 pb-3" *ngIf="status == 'sentCode'" >
              <small>El email de verificación enviado expira en: </small>
              <b><countdown #countdown [config]="{ leftTime: 300, format: 'm:ss' }" (event)="finish($event)">$!m!</countdown></b>
            </div>

            <div class="progress-loader" *ngIf="status === 'sentCode'">
              <div class="progress"></div>
            </div>
          </div>
        </div>
    </main>
  </div>
</div>