<app-navbar></app-navbar>
<main class="container-fluid contenido-principal contenido-todo">
    <div class="row">

    <section class="col-12 col-xl-4">
        <div class="sticky-top">
            <div class="pt-1">
                <h3><b>Añadir POD</b></h3>
            </div>

            <form #createPODform="ngForm" (ngSubmit)="onSubmit(createPODform)" >

                <div class="mb-3">
                <label for="curso" class="form-label titulo-seccion">Curso</label>
                <div class="custom-wrapper">
                    <input required #course="ngModel" ngModel name="course" pattern="[0-9]{4}-[0-9]{4}" type="text" class="form-control" autocomplete="course" 
                    [ngClass]="!course.valid && course.touched ? 'border-error' : ''">
                    <i class="fa-solid fa-xmark icon-login-error" *ngIf="!course.valid && course.touched" alt="curso inválido" placement="end" ngbTooltip="Curso inválido"></i>
                </div>
                </div>

                <div class="mb-3">
                <label for="asignaturas-file" class="form-label titulo-seccion">Asignaturas CSV</label>
                <input required #fileSubjects ngModel name="fileSubjects" class="form-control" ngf-max-size="1MB" type="file" accept=".csv">
                </div>

                <div class="mb-3">
                <label for="profesores-file" class="form-label titulo-seccion">Profesores CSV</label>
                <input required #fileTeachers ngModel name="fileTeachers" class="form-control" ngf-max-size="1MB" type="file" accept=".csv">
                </div>

                <div class="d-flex justify-content-center pt-3">
                    <button type="submit" class="btn mx-auto boton-general tema-urjc-azul" [disabled]="!createPODform.form.valid">Añadir</button>
                </div>
            </form>

            <div class="d-flex justify-content-center mt-5"  *ngIf="showLoaderCreate">
                <app-loader></app-loader>
            </div>

        </div>
    </section>

    <div class="col-xl-1 mx-3 p-0 d-none d-xl-block" style="width: 1px;">
        <div class="vr min-vh-75 h-100"></div>
    </div>

    <hr class="d-block d-xl-none my-5">

    <section class="col-12 col-xl-7">
        <div class="row">

            <div class="col-12 d-flex justify-content-between">
                <span *ngIf="!pods" class="my-auto">Mostrando 0 resultados</span>
                <span *ngIf="pods" class="my-auto">Mostrando {{pods.length}} resultados</span>
                <div>
                <span class="my-auto"><small>Ordenar por </small></span>
                <select class="form-select-sm text-muted desplegable-buscador my-auto">
                    <option selected value="1">Actualidad</option>
                </select>
                </div>
            </div>

            <div class="col-12 contenido-asignaturas-docentes">
                <div class="row row-cols-1 row-cols-md-2 row-cols-xl-2 g-4" *ngIf="pods && pods.length != 0">

                    <div class="col" *ngFor="let pod of pods">
                        <div class="card card-asignatura-libre h-100 w-100 shadow">
                            <div class="row g-0">
                                <div class="col">
                                    <div class="card-body contenido-cards">
                                    <ul class="list-group list-group-flush carta-asignatura border-0">
                                        <li class="list-group-item border-0">
                                            <h4 class="card-title"><b>{{pod.name}}</b></h4>
                                        </li>
                                    </ul>
                                    <div class="card-footer text-muted">
                                        <div class="row justify-content-end">
                                            <a (click)="open(deletePOD, pod)" type="button" title="Eliminar POD" class="col-4 my-auto btn color-libre"><i class="fa fa-trash fa-lg"></i></a>
                                            <a [routerLink]="['/pods', pod.id, 'subjects']" type="button" title="CSV Asignaturas" class="col-4 my-auto btn boton-asignatura-libre"><i class="fa fa-book-open fa-lg"></i></a>
                                            <a [routerLink]="['/pods', pod.id, 'teachers']" type="button" title="CSV Profesores" class="col-4 my-auto btn boton-asignatura-libre"><i class="fa fa-user-alt fa-lg"></i></a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-5" *ngIf="showLoader">
                    <div class="col-2 mt-5">
                      <app-loader></app-loader>
                    </div>
                  </div>
                <div class="text-center no-data center-vertically" *ngIf="pods && pods.length == 0 && !showLoader">
                    <p><i class="fa-regular fa-2xl fa-folder-open"></i></p>
                    <p>No hay PODs aún</p>
                </div>
            </div>
        </div>
    </section>
    
    </div>
</main>
<app-scroll-up></app-scroll-up>

<ng-template  #deletePOD let-modal>
    <div class="modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3 px-4 centrar">
                <img src="assets/images/img-borrar.png" width="90" height="90" class="mb-4" alt="imagen de advertencia borrado">
                <h5 class="modal-title" id="titleModal3"><b>Eliminar {{pod.name}}</b></h5>
                <a>¿Desea realmente eliminar el curso {{pod.name}} del Plan Docente Actual?</a>
              </div>
              <div class="modal-footer">
                <button (click)="modal.close(deletePodById(pod.id))" class="btn mx-auto boton-general tema-urjc-rojo">Eliminar</button>
              </div>
            </div>
        </div>
    </div>
  </ng-template>


