<app-navbar [currentSection]="currentSection" [currentSubsection]="currentSubsection"></app-navbar>
<main class="container-fluid main-content">
    <div class="row justify-content-center">
        <div class="col-12 col-xl-3 mb-5 mb-xl-0">
            <div class="sticky-top pt-1 mx-4 mx-xl-0 mb-0">
                <h3><b>Añadir POD</b></h3>
                <form #createPODform="ngForm" (ngSubmit)="onSubmit(createPODform)" >
                    <div class="mb-3">
                    <label for="curso" class="form-label section-title">Curso</label>
                        <input required #course="ngModel" ngModel name="course" placeholder="Nombre del curso" maxlength="255" type="text" pattern="[^\]\[&lt;&gt;&quot;';!=]*" class="form-control"
                        [ngClass]="!course.valid && course.touched ? 'border-error' : ''">
                        <span class="error-message-txt m-0" role="alert" *ngIf="course.errors?.['pattern']">Los siguientes caracteres no están permitidos: []&lt;&gt;'";!=</span>
                    </div>
                    <div class="mb-3">
                        <label for="asignaturas-file" class="form-label section-title">Asignaturas CSV</label>
                        <input required #fileSubjects ngModel name="fileSubjects" class="form-control" ngf-max-size="2MB" type="file" onclick="this.value=null;" accept=".csv">
                    </div>
                    <div class="mb-3">
                        <label for="profesores-file" class="form-label section-title">Profesores CSV</label>
                        <input required #fileTeachers ngModel name="fileTeachers" class="form-control" ngf-max-size="2MB" type="file" onclick="this.value=null;" accept=".csv">
                    </div>
                    <span class="error-message-txt m-0" role="alert" *ngIf="error != ''">{{error}}</span>
                    <div class="d-flex justify-content-center pt-3">
                        <button type="submit" class="btn mx-auto btn-global theme-blue" [disabled]="!createPODform.form.valid">Añadir</button>
                    </div>
                </form>
                <div class="d-flex justify-content-center mt-5"  *ngIf="showLoaderCreate">
                    <app-loader></app-loader>
                </div>
            </div>
        </div>

        <div class="col-xl-1 mx-3 p-0 d-none d-xl-block" style="width: 1px;">
            <div class="vr min-vh-75 h-100"></div>
        </div>

        <div class="col-12 col-xl-6">
            <div class="row">
                <div class="col-12 d-flex justify-content-between">
                    <span *ngIf="!pods" class="my-auto d-none d-sm-block">Mostrando 0 resultados</span>
                    <span *ngIf="pods" class="my-auto d-none d-sm-block">Mostrando {{pods.length}} resultados</span>
                    <div>
                        <span class="my-auto"><small>Ordenar por </small></span>
                        <select class="form-select-sm text-muted select-sort my-auto">
                            <option selected value="1">Actualidad</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 content-all-cards">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-2 g-4" *ngIf="pods && pods.length != 0 && !showLoader">
                        <div class="col" *ngFor="let pod of pods">
                            <div class="card card-subject-blue h-100 w-100 shadow">
                                <div class="row g-0">
                                    <div class="col">
                                        <div class="card-body cards-content">
                                        <ul class="list-group list-group-flush font-card border-0">
                                            <li class="list-group-item border-0">
                                                <h4 class="card-title"><b>{{pod.name}}</b></h4>
                                            </li>
                                        </ul>
                                        <div class="card-footer text-muted">
                                            <button (click)="open(deletePOD, pod)" type="button" placement="bottom" ngbTooltip="Eliminar POD" class="col-4 my-auto btn blue"><i class="fa fa-trash fa-lg"></i></button>
                                            <button [routerLink]="['/pods', pod.id, 'subjects']" type="button" placement="bottom" ngbTooltip="Asignaturas" class="col-4 my-auto btn button-blue"><i class="fa fa-book-open fa-lg"></i></button>
                                            <button [routerLink]="['/pods', pod.id, 'teachers']" type="button" placement="bottom" ngbTooltip="Profesores" class="col-4 my-auto btn button-blue"><i class="fa fa-user-alt fa-lg"></i></button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row center-horizontally center-vertically" *ngIf="showLoader">
                        <div class="col-2">
                        <app-loader></app-loader>
                        </div>
                    </div>
                    <div class="text-center no-data center-vertically" *ngIf="pods && pods.length == 0 && !showLoader">
                        <p><i class="fa-regular fa-2xl fa-folder-open"></i></p>
                        <p>No hay PODs aún</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-scroll-up></app-scroll-up>

<ng-template #deletePOD let-modal>
    <div class="modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="px-4 center">
                <img src="assets/images/delete.webp" width="90" height="90" class="mb-4" alt="imagen de advertencia borrado">
                <h4 class="modal-title"><b>Eliminar {{pod.name}}</b></h4>
                <span>¿Desea realmente eliminar el curso {{pod.name}} del Plan Docente Actual?</span>
              </div>
            </div>
            <div class="modal-footer mb-3">
                <button (click)="modal.close(deletePodById(pod.id))" class="btn mx-auto btn-global theme-red">Eliminar</button>
            </div>
        </div>
    </div>
  </ng-template>


