<app-navbar [currentSection]="currentSection" [currentSubsection]="currentSubsection"></app-navbar>
<main class="container-fluid main-content">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-3 mb-5 mb-lg-0">
      <div class="sticky-top pt-1 mx-4 mx-xl-0 mb-0">
        <h3><b>Añadir Administrador</b></h3>
        <form #formAddAdmin="ngForm" ngNativeValidate (ngSubmit)="onSubmit(formAddAdmin)">
          <div class="form-group mb-3">
            <label for="chooseAdmin" class="form-label section-title">Correo Electrónico</label>
            <input type="email" class="form-control" required #email="ngModel" name="email" [(ngModel)]="emailNewAdmin" list="teachersList" id="chooseAdmin" 
            placeholder="Correo Electrónico" email [ngClass]="!email.valid && email.touched ? 'border-error' : ''">
            <datalist id="teachersList">
              <option *ngFor="let item of teachers" [ngValue]="item.email">{{item.email}}</option>
            </datalist>
            <span class="error-message-txt m-0" role="alert" *ngIf="error != ''">{{error}}</span>
          </div>
          <div class="d-flex justify-content-center pt-3">
            <button type="submit" class="btn mx-auto btn-global theme-blue" [disabled]="email.errors?.['required']">Añadir</button>
          </div>
        </form>
      </div>
    </div>

    <div class="col-lg-1 mx-3 p-0 d-none d-lg-block" style="width: 1px;">
      <div class="vr min-vh-75 h-100"></div>
    </div>

    <div class="col-12 col-lg-6">
      <div class="row">
        <div class="col-12 d-flex justify-content-between">
          <span *ngIf="!admins" class="my-auto">Mostrando 0 resultados</span>
          <span *ngIf="admins" class="my-auto">Mostrando {{admins.length}} resultados</span>
        </div>
        <div class="col-12 content-all-cards">
          <div id="table-admins" *ngIf="!showLoader">
            <table class="table table-borderless">
              <tbody>
                <tr *ngFor="let admin of admins">
                  <td class="center d-none d-sm-block"><i class="fa fa-user-shield admin-icon"></i> </td>
                  <td>
                    <span><b>{{admin.name}}</b></span><br>
                    <span><small class="text-muted">{{admin.email}}</small></span>
                  </td>
                  <td class="center">
                    <button type="button" (click)="openToDelete(modalRemoveRoleAdmin, admin)" [disabled]="admin.email == mainAdmin" placement="bottom" ngbTooltip="Eliminar administrador" class="btn button-blue">
                      <i class="fa fa-trash fa-lg"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row center-horizontally center-vertically" *ngIf="showLoader">
            <div class="col-2">
              <app-loader></app-loader>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-scroll-up></app-scroll-up>

<ng-template #modalRemoveRoleAdmin let-modal>
  <div class="modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="px-4 center">
              <img src="assets/images/delete.webp" width="90" height="90" class="mb-4" alt="imagen de advertencia borrado">
              <h4 class="modal-title"><b>Eliminar Administrador</b><b id="teacherToDelete"></b></h4>
              <span>¿Desea realmente quitar al docente {{adminTeacher.name}} como administrador?</span>
            </div>
          </div>
          <div class="modal-footer mb-3">
            <button (click)="modal.close(removeRoleAdmin())" class="btn mx-auto btn-global theme-red">Eliminar</button>
          </div>
      </div>
  </div>
</ng-template>