#table-admins{
    position: relative;
    padding: 30px;
    background: var(--white);
    border-radius: 15px;
    overflow: auto;
}


.admin-icon{
    position: relative;
    color:var(--blue);
    background-color: var(--light-blue);
    padding:18px;
    border-radius: 5px;
    vertical-align: middle;
}

@media (max-width:1200px){
    .sticky-top{
        position: static !important;
    }
}