<app-navbar></app-navbar>
<main class="container-fluid contenido-principal contenido-todo">



  <div class="row">
      <section class="col-12 col-xl-4">
        <div class="sticky-top">

          <div class="pt-1">
            <h3><b>Añadir Administrador</b></h3>
          </div>

          <form #formAddAdmin="ngForm" ngNativeValidate (ngSubmit)="onSubmit(formAddAdmin)">
            <div class="form-group mb-3">
                <label for="elegirAdministrador" class="form-label titulo-seccion">Correo Electrónico</label>
                    <input type="email" class="form-control" required #email="ngModel" name="email" [(ngModel)]="emailNewAdmin" list="teachersList" id="elegirAdministrador" 
                    placeholder="example@example.com" email [ngClass]="!email.valid && email.touched ? 'border-error' : ''">
                <datalist id="teachersList">
                <option *ngFor="let item of teachers" [ngValue]="item.email">{{item.email}}</option>
                </datalist>
                <span class="error-message-txt m-0" role="alert" *ngIf="error != ''">{{error}}</span>
            </div>

            <div class="d-flex justify-content-center pt-3">
              <button type="submit" class="btn mx-auto boton-general tema-urjc-azul" [disabled]="email.errors?.['required']">Añadir</button>
            </div>

          </form>

        </div>
      </section>

      <div class="col-xl-1 mx-3 p-0 d-none d-xl-block" style="width: 1px;">
        <div class="vr min-vh-75 h-100"></div>
      </div>

      <hr class="d-block d-xl-none my-5">

      <section class="col-12 col-xl-7">
        <div class="row">

          <div class="col-12 d-flex justify-content-between">
            <span *ngIf="!admins" class="my-auto">Mostrando 0 resultados</span>
            <span *ngIf="admins" class="my-auto">Mostrando {{admins.length}} resultados</span>
          </div>

          <div class="col-12 contenido-asignaturas-docentes box-mis-estadisticas-admin">
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">

              <table class="table table-borderless">
                <tbody>
                  
                  <tr *ngFor="let admin of admins">
                    <td class="centrar"><i class="fa fa-user-shield icono-mis-estadisticas"></i> </td>
                    <td>
                      <span><b>{{admin.name}}</b></span><br>
                      <span><small class="text-muted">{{admin.email}}</small></span>
                    </td>
                    <td class="centrar">
                      <button type="button" (click)="openToDelete(modalRemoveRoleAdmin, admin)" placement="bottom" ngbTooltip="Eliminar administrador" *ngIf="admin.email != mainAdmin" class="btn boton-asignatura-libre">
                        <i class="fa fa-trash fa-lg"></i>
                      </button>
                      <i *ngIf="admin.email == mainAdmin" class="fa fa-crown fa-lg color-conflicto"></i>
                    </td>
                  </tr>

                </tbody>
              </table>

            </div>
          </div>
        </div>
      </section>
      
    </div>
  </main>
<app-scroll-up></app-scroll-up>

<ng-template #modalRemoveRoleAdmin let-modal>
  <div class="modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3 px-4 centrar">
              <img src="assets/images/img-borrar.png" width="90" height="90" class="mb-4" alt="imagen de advertencia borrado">
              <h5 class="modal-title" id="titleModal3"><b>Eliminar Administrador</b><b id="teacherToDelete"></b></h5>
              <a>¿Desea realmente eliminar al docente {{adminTeacher.name}} del Plan Docente Actual?</a>
            </div>
            <div class="modal-footer">
              <button (click)="modal.close(removeRoleAdmin())" class="btn mx-auto boton-general tema-urjc-rojo">Eliminar</button>
            </div>
          </div>
      </div>
  </div>
</ng-template>